$cinza: #2e2e2e;
$gradient_Cinza: linear-gradient(180deg, #333333, #1c1c1c);
$amarelo: #f8a11e;
$verde: #24702a;
$azul: #3b95e0;
$vermelho: #e64c30;
$branco: #dddddd;
$branco_Puro: #ffffff;
$borda-card: #cbcbcb;

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

body {
  background-color: $branco;
}

p,
svg,
button,
a,
input,
select {
  color: $cinza;
}
