.fundoPadrao {
  padding: 15px 20px;

  .titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 16px 0px;

    &__tituloEIcone {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }

    &__botao {
      background: $amarelo;
      border: none;
      border-radius: 28px;
      padding: 4px 16px;
      font-size: 18px;
    }
  }

  .cardPadrao {
    &__card {
      border-radius: 6px;
      border: 1px solid $borda-card;
      padding: 22px 14px 14px 14px;
      margin: 8px 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 12px;
      position: relative;

      &__acoes {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 18px;
        position: absolute;
        right: 6px;
        top: 6px;

        &--edit {
          color: $azul;
        }

        &--del {
          color: $vermelho;
        }
      }

      &__informacaoPrincipal {
        text-transform: uppercase;
        font-size: 16px;
      }
      &__informacaoAdicional {
        font-size: 14px;
      }

      &__formulario {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 16px;

        &--titulo {
          width: 100%;
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;
          border-bottom: 1px solid $cinza;
        }

        #separacao {
          margin-top: 16px;
        }

        &__input {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          gap: 8px;
          font-size: 16px;

          #required::after {
            content: "*";
            color: $vermelho;
          }

          input {
            background-color: transparent;
            border: 1px solid $borda-card;
            width: 96%;
            height: 1.8rem;
            outline: none;
            padding-left: 10px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
