.fundoPadrao {
  padding: 15px 20px;

  .titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 20px 0px;

    &__botao {
      background: $amarelo;
      border: none;
      border-radius: 28px;
      padding: 4px 16px;
      font-size: 18px;
    }
  }

  .cardPadrao {
    border-radius: 6px;
    border: 1px solid $borda-card;
    padding: 14px;
  }
}
